* {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: transparent;
  color: inherit;
  text-decoration: none;

  --main-color: #f7f0ea;
  --main-color-dark: #f0bb81;

  --second-color: #142c51;
  --second-color-light: #e9f2f1;
  --second-color-dark: #101b27;
}

body {
  width: 100%;
  display: flex;
  background-color: var(--second-color-light);
}

/* ---------- typography ---------- */
body {
  color: var(--second-color-dark);
  font-size: 12px;
}

nav > menu {
  font-weight: bold;
  font-size: clamp(1rem, 1.4vw, 1.5rem);
  color: var(--main-color-dark)
}

h1 {
  font-size: clamp(2rem, 6.5vw, 6rem);
  text-decoration: underline;
}

main > header > a > button:nth-of-type(1) {
  font-size: clamp(1rem, 1.4vw, 1.5rem);
  font-weight: bold;
}

main > section > header > h2 {
  font-size: clamp(1rem, 1.6vw, 2rem);
  color: var(--main-color-dark)
}

/* ---------- left and right bars ---------- */
nav,
aside {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
}

nav {
  width: 2vw;
  border-right: solid 1px var(--second-color);
}
nav > menu {
  margin-left: 3vw;
  width: 2vw;
}

aside {
  right: 0;
  width: 2vw;
  border-left: solid 1px var(--second-color);
}
aside > a > img {
  width: 1.8vw;
  margin-bottom: 1vh;
}

/* ---------- main ---------- */
main {
  width: 95vw;
  margin-left: 2vw;
}

/* ---------- main header ---------- */
main > header {
  height: 100vh;
  margin: 0 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main > header > hgroup {
  margin-top: 5vh;
  display: flex;
}
main > header > hgroup > h1 {
  margin-right: 5vw;
  width: 20vw;
}
main > header > hgroup > h2 {
  width: 10vw;
  align-self: flex-end;
}

main > header > a > button:nth-of-type(1) {
  width: 20vw;
  height: 5vh;
  border: solid var(--second-color-dark) 2px;
  border-radius: 10px / 30px;
}

main > header > a:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
main > header > a > img {
  width: 30px;
  margin: 0 40px 0 10px;
}

/* ---------- main articles ---------- */
main > section > header {
  background-color: var(--second-color);
  left: 0;
  top: 0;
  position: sticky;
  width: 100%;
  height: 2vw;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

main > section > header > h2 {
  margin: 0 2vw;
}

main > section > article {
  height: 100vh;
  padding-top: 10%;
  display: flex;
  justify-content: space-between;
}

main > section > article > section {
  width: 50%;
}

main > section > article > div {
  width: 15vw;
  height: 45vh;
  display: flex;
  align-items: center;
  position: relative;
}
main > section > article:nth-of-type(1) > div {
  background-color: var(--second-color);
}
main > section > article:nth-of-type(2) > div {
  background-color: var(--main-color);
}
main > section > article:nth-of-type(3) > div {
  background-color: var(--second-color-dark);
}

main > section > article > div > img {
  width: 20vw;
  height: 30vh;
  position: absolute;
}
main > section > article:nth-of-type(1) > div > img,
main > section > article:nth-of-type(3) > div > img {
  left: 4vw;
}
main > section > article:nth-of-type(2) > div > img {
  right: 4vw;
}
