html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

:root {
  --main-color: #f7f0ea;
  --main-color-dark: #eba356;

  --second-color: #142c51;
  --second-color-light: #e9f2f1;
  --second-color-dark: #101b27;

  --accent-color: #e9f2f1;
}

* {
  margin: 0;
  padding: 0;
  list-style: circle;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  z-index: 1;
}

:focus {
  -webkit-animation: 1s ease-in-out 0s focusBorder;
  animation: 1s ease-in-out 0s focusBorder;
}
@-webkit-keyframes focusBorder {
  from {
    outline: 2px solid var(--main-color-dark);
  }
  to {
    outline: transparent;
  }
}
@keyframes focusBorder {
  from {
    outline: 2px solid var(--main-color-dark);
  }
  to {
    outline: transparent;
  }
}

body {
  width: 100%;
  display: flex;
  background-color: var(--main-color);
}

/* ---------- typography ---------- */
@font-face {
  font-family: "LibreBaskerville";
  src: url("../../src/static/fonts/LibreBaskerville-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../../src/static/fonts/SourceSansPro-Regular.ttf")
    format("truetype");
}

body {
  color: var(--second-color-dark);
  font-size: 16px;
  font-family: "SourceSansPro", "Segoe UI Black", "Arial Rounded MT Bold",
    sans-serif;
}

menu {
  font-weight: bold;
  font-size: clamp(1rem, 1.4vw, 1.5rem);
}

main > header > hgroup > h1 {
  font-size: clamp(2rem, 7vw, 7rem);
  font-family: "LibreBaskerville", "Segoe UI Black", "Arial Rounded MT Bold",
    sans-serif;
}
main > header > hgroup > h2 {
  font-size: clamp(2rem, 7vw, 2rem);
  font-family: "LibreBaskerville", "Segoe UI Black", "Arial Rounded MT Bold",
    sans-serif;
}
main > header section > a > button:nth-of-type(1) {
  font-size: clamp(1rem, 1.4vw, 1.5rem);
  font-weight: bold;
}
main > header section > p {
  font-size: clamp(1rem, 1.2vw, 1.4rem);
}

main > section > a > header > h2 {
  font-size: clamp(1rem, 1.6vw, 2rem);
}
main > section > article > section > h3 {
  font-size: clamp(1rem, 1.6vw, 2rem);
  font-family: "LibreBaskerville", "Segoe UI Black", "Arial Rounded MT Bold",
    sans-serif;

  color: var(--second-color);
}
main > section > article > section > p {
  font-size: clamp(1rem, 1.6vw, 1.5rem);
}

/* ---------- buttons ---------- */
.button {
  border: none;
  padding: 1.5rem 3rem;
  position: relative;
  display: inline-block;
}
.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button--bestia {
  font-family: freight-display-pro, serif;
  font-size: 1.15rem;
  color: #fff;
  background: none;
  padding: 0;
}

.button--bestia .button__bg {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e6d0bd;
  border-radius: 0.85rem;
  overflow: hidden;
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.button--bestia:hover .button__bg {
  transform: scale3d(1.2, 1.2, 1);
}

.button--bestia .button__bg::before,
.button--bestia .button__bg::after {
  content: "";
  position: absolute;
  background: var(--second-color);
}

.button--bestia .button__bg::before {
  width: 110%;
  height: 0;
  padding-bottom: 110%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 1);
}

.button--bestia:hover .button__bg::before {
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
}

.button--bestia .button__bg::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

.button--bestia:hover .button__bg::after {
  opacity: 1;
  transition-duration: 0.01s;
  transition-delay: 0.3s;
}

.button--bestia span {
  display: block;
  position: relative;
  padding: 1.5rem 3rem;
  color: var(--second-color-dark);
  font-weight: bold;
}

.button--bestia span:hover {
  color: #fefdfc;
}

.button--anthe {
	font-family: bely-display, sans-serif;
	color: #fff;
	background: none;
}

.button--anthe::before {
	content: '';
	background: #000;
	-webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
	transition: clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1), -webkit-clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1);
}

.button--anthe:hover::before {
	background: #000;
	-webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.button--anthe span {
	display: block;
	mix-blend-mode: difference;
	transition: transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
}

.button--anthe:hover span {
	transform: translate3d(-10px,0,0);
}


/* ---------- left and right menus ---------- */
menu,
aside {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 0;
}

menu {
  margin-left: 3%;
}

menu > a > li:hover {
  list-style: disc;
  color: var(--second-color);
}

aside {
  right: 0;
  width: 3%;
  border-left: solid 1px var(--main-color-dark);
}
aside > a > img {
  width: 2.3vw;
  margin-bottom: 1vh;
}

/* ---------- main ---------- */
main {
  width: 94%;
  margin-left: 3%;
}

/* ---------- SVG Morph ---------- */
.morph-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.morph {
  position: relative;
  height: 100%;
  fill: var(--background-color-2);
  flex: none;
  z-index: 0;
}

/* ---------- main header ---------- */
main > header {
  height: 100vh;
  margin: 0 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main > header > hgroup {
  margin-top: 18vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

main > header > hgroup > h1 {
  width: 25vw;
}

main > header > hgroup > h1 > p {
  display: flex;
}

main > header > hgroup > h2 {
  width: 15vw;
  padding: 2vh 0;
}

main > header > section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main > header > section > a:nth-of-type(1) {
  width: 25vw;
}

main > header > section > p {
  width: 15vw;
}

main > header > a:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main > header > a > img {
  height: 40px;
}

/* ---------- works ---------- */
main > section > a > header {
  background-color: var(--main-color);
  border-bottom: var(--main-color-dark) 1px solid;
  left: 0;
  top: 0;
  position: sticky;
  width: 103%;
  margin-left: -3%;
  height: 2.5vw;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main > section > a > header > h2 {
  margin: 0 2vw;
}

main > section > article {
  height: 100vh;
  display: flex;
}

main > section > article > section {
  width: 40vw;
  padding-top: 5vh;
}
main > section > article:nth-of-type(1) > section,
main > section > article:nth-of-type(5) > section {
  margin-left: 5vw;
}
main > section > article:nth-of-type(3) > section,
main > section > article:nth-of-type(4) > section {
  margin-left: 10vw;
  margin-right: 5vw;
}

main > section > article > section > h3 {
  margin-bottom: 4vh;
}

main > section > article > section > p {
  margin-bottom: 4vh;
}

main > section > article > img {
  width: 35%;
  height: 50%;
  object-fit: cover;
  border-radius: 30px;
  mix-blend-mode: screen;
}
main > section > article:nth-of-type(1) > img,
main > section > article:nth-of-type(5) > img {
  margin-left: 10vw;
}

.modal {
  position: fixed;
  background-color: var(--main-color);

  z-index: 4;
  width: 67%;
  height: 67%;
  top: 16.5%;
  left: 16.5%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Embiggen */
  transform: scale(1.5); /* prefix me */

  /* Hidden */
  opacity: 0;
  pointer-events: none;
}

.modal__text {
  font-size: 12px;
  width: 30%;
  z-index: 6;
}

.modal__img {
  z-index: 5;
  mix-blend-mode: normal;
  border-radius: 0;
  height: 100%;
  width: 40%;
}

.modal__arrow {
  align-self: flex-start;
  width: 30px;
  height: 30px;
  padding: 4px 8px;
  mix-blend-mode: normal;
}